### 1. DATA COLLECTION

In [ ]:
#pip install bs4
#pip install selenium
#pip install forex-python

In [1]:
#import the required packages
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import os
import time
import json
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import heapq
import nltk
from nltk.stem import *
from nltk.corpus import stopwords # import stopwords module
from nltk.tokenize import word_tokenize
import re
from collections import Counter
from functools import reduce

#### 1.1. Get the list of master's degree courses

In [147]:
flag = False # run only once

if flag:
    # URL of the website
    url = 'https://www.findamasters.com/masters-degrees/msc-degrees/?PG='  
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)'] 

    # Create a list to store the URLs of the masters
    master_urls = []

    # Loop through the first 400 pages
    for page_number in range(1, 401):
        print(url + str(page_number))
        response = requests.get(url + str(page_number))

        if response.status_code == 200:
            soup = BeautifulSoup(response.text, "html.parser")
        
            # Use BeautifulSoup to extract the URLs and append them to the master_urls list
            for link in soup.find_all('a', {'class':'courseLink'}):
                if link['href'][:len(prefix)] == prefix and not link.text in exclude:
                    master_urls.append((link['href'], link.text))


    # Save the collected URLs in a text file
    with open("master_urls.txt", "a") as file:
        for url in master_urls:
            file.write(url[0] + "\n")

#### 1.2. Crawl master's degree pages

In [148]:
flag = False

if flag:
    # Open the file and read its content
    with open("master_urls.txt", "r") as file:
        master_urls = [line.strip() for line in file.readlines()]

    # Create a directory to store HTML pages
    output_root_directory = "html_pages"
    os.makedirs(output_root_directory, exist_ok=True)  # create the directory if it doen't exist

    # Read 15 URLs at a time and create HTML pages
    subset_size = 15
    for i in range(0, len(master_urls), subset_size):
        subset = master_urls[i:i + subset_size] # extract 15 more urls

        # Create a subfolder for each page
        output_directory = os.path.join(output_root_directory, f"page_{i // subset_size + 1}")
        os.makedirs(output_directory, exist_ok=True)

        # Create an HTML page for each URL in the subset
        for url in subset:
            prefix = 'https://www.findamasters.com/'
            response = requests.get(prefix + url)  # sends a GET request 

            if response.status_code == 200:
                soup = BeautifulSoup(response.text, "html.parser")
                page_content = soup.prettify()  # extract the content of the page          
                master_name = url.split("/")[-2]  # extract the name of the master from the URL 

                # Check if the file already exists, and append a number if necessary
                page_filename = f"{output_directory}/{master_name}.html"
                counter = 1
                while os.path.exists(page_filename):
                    page_filename = f"{output_directory}/{master_name}({counter}).html"
                    counter += 1

                # Save the content in a HTML file
                with open(page_filename, "w", encoding="utf-8") as file:
                    file.write(page_content)
            time.sleep(1.5)

        print(f"page {i // subset_size + 1} completed")

#### 1.3 Parse downloaded pages

In [149]:
##MY IDEA --> I have to create a function that retrieve the required information from a html page. in order to do so I exploit the structure of the file. 
#I use "try: except:" to avoid errors in the case that some information is missing

def extract_msc_page(msc_page_url):


    contents ={}
    # Parse HTML content
    page_soup = BeautifulSoup(msc_page_url, 'html.parser')

    #url
    try:
        canonical_link = page_soup.find('link', {'rel': 'canonical'})
        contents['url'] = canonical_link.get('href')
    except AttributeError:
        contents['url'] = ""


    # Course name
    try:
        page_links = page_soup.find('h1', {'class': 'text-white course-header__course-title'})
        name = page_links.get_text()
        contents["courseName"] = name.strip()
    except AttributeError:
        contents['courseName'] = ""

    # University name
    try:
        page_links = page_soup.find_all('a', {'class': 'course-header__institution'})
        contents['universityName'] = page_links[0].contents[0].strip()
    except (AttributeError, IndexError):
        contents['universityName'] = ""

    # Faculty name
    try:
        page_links = page_soup.find_all('a', {'class': 'course-header__department'})
        contents['facultyName'] = page_links[0].contents[0].strip()
    except (AttributeError, IndexError):
        contents['facultyName'] = ""

    # Full time
    try:
        page_links = page_soup.find('a', {'class': 'inheritFont concealLink text-decoration-none text-gray-600'})
        time = page_links.get_text().strip()
        contents['isItFullTime'] = time
    except AttributeError:
        contents['isItFullTime'] = ""

    # Description
    try:
        page_links = page_soup.find('div', {'id': 'Snippet'})
        description = page_links.get_text().strip()
        contents["description"] = description
    except AttributeError:
        contents['description'] = ""

    # Starting date
    try:
        page_links = page_soup.find('span', {'class': 'key-info__content key-info__start-date py-2 pr-md-3 text-nowrap d-block d-md-inline-block'})
        starting = page_links.get_text().strip()
        contents["startDate"] = starting
    except AttributeError:
        contents['startDate'] = ""

    # Fees
    try:
        page_links = page_soup.find('div', {'class': 'course-sections course-sections__fees tight col-xs-24'})
        fees = page_links.get_text().strip()
        contents["fees"] = fees
    except AttributeError:
        contents['fees'] = ""

    # Modality
    try:
        page_links = page_soup.find('a', {'title': 'View all MSc courses'})
        modality = page_links.get_text().strip()
        contents["modality"] = modality
    except AttributeError:
        contents['modality'] = ""

    # Duration
    try:
        page_links = page_soup.find('span', {'class': 'key-info__content key-info__duration py-2 pr-md-3 d-block d-md-inline-block'})
        duration = page_links.get_text().strip()
        contents["duration"] = duration
    except AttributeError:
        contents['duration'] = ""

    # City
    try:
        page_links = page_soup.find('a', {'class': 'card-badge text-wrap text-left badge badge-gray-200 p-2 m-1 font-weight-light course-data course-data__city'})
        city = page_links.get_text().strip()
        contents["city"] = city
    except AttributeError:
        contents['city'] = ""

    # Country
    try:
        page_links = page_soup.find('a', {'class': 'card-badge text-wrap text-left badge badge-gray-200 p-2 m-1 font-weight-light course-data course-data__country'})
        country = page_links.get_text().strip()
        contents["country"] = country
    except AttributeError:
        contents['country'] = ""

    # Administration
    try:
        page_links = page_soup.find('a', {'class': 'card-badge text-wrap text-left badge badge-gray-200 p-2 m-1 font-weight-light course-data course-data__on-campus'})
        administration = page_links.get_text().strip()
        contents["administration"] = administration
    except AttributeError:
        contents["administration"] = ""

    
    return contents

In [150]:
## MY IDEA --> I apply the function above for all the files. I am applying it for all files in a folder for all folders contained into a folder

flag = False

if flag:
    folder_path = 'html_pages/'

    result_df = pd.DataFrame()
    # Walk through the directory and its subdirectories
    for foldername, subfolders, filenames in os.walk(folder_path):
        # Iterate through all the files in the current subdirectory
        for filename in filenames:
            # Construct the file path
            path = os.path.join(foldername, filename)
        
            # Check if the file exists before attempting to open it
            if os.path.exists(path):
                # Print the file path
                print(path)
            
                # Open the file in read mode with UTF-8 encoding
                with open(path, 'r', encoding='utf-8') as file:
                    # Read the HTML content of the file
                    html_content = file.read()
                
                    # Call the function to extract information from the HTML content
                    result_dict = extract_msc_page(html_content)
                    result_df = result_df.append(result_dict, ignore_index=True)


            else:
                # Print a message if the file is not found
                print(f"File not found: {path}")


    #clean an imperfection in the fees section
    result_df['fees'] = result_df['fees'].str.replace('Fees', '') 

    #save it into a file to store it. so that I do not have to run it again
    result_df.to_json('html_pages.json', orient='records', lines=True)

In [151]:
#create the tsv files 

flag = False

if flag:
    data = pd.read_json("html_pages.json", lines=True)

    output_directory = "tsv_files/"
    os.makedirs(output_directory, exist_ok=True)

    # Iterate through each row and create a TSV file
    for index, row in data.iterrows():
        file_name = f"course_{index}.tsv"
        file_path = os.path.join(output_directory, file_name)

        # Extract relevant columns and write to the TSV file
        selected_columns = ['courseName', 'universityName', 'facultyName', 'isItFullTime', 'description', 'startDate',
                        'fees','modality','duration','city','country','administration', 'url']
        selected_data = row[selected_columns]
        selected_data.to_csv(file_path, sep='\t', index=False, header=False)

    print("TSV files created successfully.")

### 2. Search Engine

##### 2.0.0) Preprocessing the text

In [2]:
dataset = pd.read_json("html_pages.json", lines=True)  # read the dataset from the created json file
dataset = dataset[dataset.description != '']  # filter rows where the 'description' is empty

# STEMMING
stemmer = PorterStemmer()  # create an instance of Porter Stemmer
dataset['preprocessed_description'] = dataset.description.apply(lambda row: [stemmer.stem(word) for word in row.split(' ')])  # reduce words of description column to their root form and create a new column to store the result

# STOPWORDS
nltk.download('stopwords') 
list_stopwords = stopwords.words('english')  # retrieves the English stopwords from the nltk stopwords dataset
dataset['preprocessed_description'] = dataset.description.apply(lambda row: [stemmer.stem(word) for word in row.split(' ') if not word in list_stopwords])  # now 'descr_clean' column contains lists of cleaned and stemmed words 

# PUNCTUATION
nltk.download('punkt')
dataset['preprocessed_description'] = dataset.description.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in list_stopwords and word.isalnum()]) # now 'descr_clean' column contains lists of cleaned and stemmed words without punctuation

# Join the lists of words into a single string
dataset['preprocessed_description'] = dataset.preprocessed_description.apply(lambda row: ' '.join(row))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\stefa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\stefa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

#### 2.0.1) Preprocessing the fees column

In [33]:
import re
from forex_python.converter import CurrencyRates

pattern1 = r'([$£¥€]|USD|GBP|EUR|euro|euros|JPY|HK$|HK|HKD$|HKD|ISK|SEK)\s*([\d,]+(?:\.\d+)?)'  # regex to obtain matches as "symbol number"
pattern2 = r'([\d,]+(?:\.\d+)?)\s*([$£¥€]|USD|GBP|EUR|euro|euros|JPY|HK$|HK|HKD$|HKD|ISK|SEK)'  # regex to obtain matches as "number symbol"

# Create a CurrencyRates instance
currency_rates = CurrencyRates()

def extract_and_convert(row, common_currency="USD"):

    matches1 = re.finditer(pattern1, row)
    matches2 = re.finditer(pattern2, row)

    max_value = 0
    max_currency = None
    max_match = None

    
    for match in matches1:
        currency_symbol = match.group(1)
        numeric_part = match.group(2)
        
        
        # Try to convert numeric part to float
        try:
            numeric_value = float(numeric_part.replace(',', '').replace('.', ''))
        except ValueError:
            continue
        
        if numeric_value > max_value:  # update max value if necessary
            max_value = numeric_value
            max_currency = currency_symbol
            max_match = match
    
    for match in matches2:
        currency_symbol = match.group(2)
        numeric_part = match.group(1)
        
        
        # Try to convert numeric part to float
        try:
            numeric_value = float(numeric_part.replace(',', '').replace('.', '')) # remove all the number separators to do the cast
        except ValueError:
            continue
        
        if numeric_value > max_value: # update max value if necessary
            max_value = numeric_value
            max_currency = currency_symbol
            max_match = match
    
    if max_match:
        # Convert the price to the common currency
        converted_price = convert_currency(max_currency, max_value, common_currency)
        return converted_price
    else:
        return None


# Define a function to convert currency
def convert_currency(currency_symbol, amount, target_currency):
    try:
        # Map currency symbols to ISO codes
        currency_code = symbol_to_code(currency_symbol)
        
        if currency_code is not None:
            # Use the forex-python library to get the exchange rate and perform the conversion
            exchange_rate = currency_rates.get_rate(currency_code, target_currency)
            converted_amount = round(amount * exchange_rate, 2)
            print(f"Previous price: {amount}{currency_symbol}")
            print(f"Converted Price: {converted_amount:.2f} USD")
            return converted_amount
        else:
            print(f"Unsupported currency symbol: {currency_symbol}")
            return None
    except Exception as e:
        print(f"Error converting currency: {e}")
        return None

# Define a function to map currency symbols to ISO codes
def symbol_to_code(symbol):
    symbol_map = {
        '$': 'USD',
        '£': 'GBP',
        '¥': 'JPY',
        '€': 'EUR',
        'USD': 'USD',
        'GBP': 'GBP',
        'EUR': 'EUR',
        'euro': 'EUR',
        'euros': 'EUR',
        'JPY': 'JPY',
        'HKD$': 'HKD',
        'HKD': 'HKD',
        'HK$': 'HKD',
        'HK': 'HKD',
        'ISK': 'ISK',
        'SEK': 'SEK'
    }
    return symbol_map.get(symbol, None)


# Apply the function to the 'fees' column and create a new 'fees(USD)' column
dataset['fees(USD)'] = dataset['fees'].apply(lambda x: extract_and_convert(x, common_currency='USD'))
dataset

Previous price: 34750.0£
Converted Price: 42542.88 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 18000.0€
Converted Price: 19206.00 USD
Previous price: 18000.0€
Converted Price: 19206.00 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 28750.0£
Converted Price: 35197.35 USD
Previous price: 722.0£
Converted Price: 883.91 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 28000.0£
Converted Price: 34279.16 USD
Previous price: 10500.0£
Converted Price: 12854.68 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 4000.0€
Converted Price: 4268.00 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 280600.0SEK
Converted Price: 25788.13 USD
Previous price: 2500.0€
Converted Price: 2667.50 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 4000.0€
Converted Price: 4268.00 USD
Previous price: 9600.0£
Converted Price: 11752.85 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 8400.0£
Converted Price: 10283.75 USD
Previous price: 15950.0£
Converted Price: 19526.88 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 19100.0€
Converted Price: 20379.70 USD
Previous price: 340000.0SEK
Converted Price: 31247.20 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 33000.0£
Converted Price: 40400.44 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 24750.0£
Converted Price: 30300.33 USD
Previous price: 27250.0£
Converted Price: 33360.97 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 13000.0€
Converted Price: 13871.00 USD
Previous price: 12000.0€
Converted Price: 12804.00 USD
Previous price: 16800.0£
Converted Price: 20567.49 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 11500.0£
Converted Price: 14078.94 USD
Previous price: 21350.0£
Converted Price: 26137.86 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 8900.0£
Converted Price: 10895.88 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 11800.0£
Converted Price: 14446.22 USD
Previous price: 33500.0£
Converted Price: 41012.56 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 177600.0SEK
Converted Price: 16322.07 USD
Previous price: 18500.0€
Converted Price: 19739.50 USD
Previous price: 27000.0£
Converted Price: 33054.90 USD
Previous price: 14750.0£
Converted Price: 18057.77 USD
Previous price: 30250.0£
Converted Price: 37033.73 USD
Previous price: 16100.0€
Converted Price: 17178.70 USD
Previous price: 14236.0€
Converted Price: 15189.81 USD
Previous price: 14236.0€
Converted Price: 15189.81 USD
Previous price: 21200.0£
Converted Price: 25954.22 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 14236.0€
Converted Price: 15189.81 USD
Previous price: 9840.0£
Converted Price: 12046.68 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 16200.0€
Converted Price: 17285.40 USD
Previous price: 22350.0£
Converted Price: 27362.11 USD
Previous price: 18500.0€
Converted Price: 19739.50 USD
Previous price: 4600.0€
Converted Price: 4908.20 USD
Previous price: 16500.0€
Converted Price: 17605.50 USD
Previous price: 15700.0£
Converted Price: 19220.81 USD
Previous price: 5700.0€
Converted Price: 6081.90 USD
Previous price: 373.0€
Converted Price: 397.99 USD
Previous price: 373.0€
Converted Price: 397.99 USD
Previous price: 21900.0EUR
Converted Price: 23367.30 USD
Previous price: 10000.0£
Converted Price: 12242.56 USD
Previous price: 373.0€
Converted Price: 397.99 USD
Previous price: 21900.0EUR
Converted Price: 23367.30 USD
Previous price: 269400.0SEK
Converted Price: 24758.81 USD
Previous price: 247000.0SEK
Converted Price: 22700.17 USD
Previous price: 15230.0£
Converted Price: 18645.41 USD
Previous price: 8200.0£
Converted Price: 10038.90 USD
Previous price: 10000.0£
Converted Price: 12242.56 USD
Previous price: 10000.0£
Converted Price: 12242.56 USD
Previous price: 6035.0£
Converted Price: 7388.38 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 24750.0£
Converted Price: 30300.33 USD
Previous price: 29500.0£
Converted Price: 36115.54 USD
Previous price: 3467.0£
Converted Price: 4244.49 USD
Previous price: 16650.0£
Converted Price: 20383.86 USD
Previous price: 35000.0£
Converted Price: 42848.95 USD
Previous price: 16100.0€
Converted Price: 17178.70 USD
Previous price: 12660.0£
Converted Price: 15499.08 USD
Previous price: 13295.0£
Converted Price: 16276.48 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 8400.0£
Converted Price: 10283.75 USD
Previous price: 16100.0£
Converted Price: 19710.52 USD
Previous price: 2782.0€
Converted Price: 2968.39 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 28950.0£
Converted Price: 35442.20 USD
Previous price: 280600.0SEK
Converted Price: 25788.13 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 22600.0€
Converted Price: 24114.20 USD
Previous price: 4000.0€
Converted Price: 4268.00 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 72672.0€
Converted Price: 77541.02 USD
Previous price: 309700.0SEK
Converted Price: 28462.52 USD
Previous price: 154800.0SEK
Converted Price: 14226.67 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 11800.0£
Converted Price: 14446.22 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 2782.0€
Converted Price: 2968.39 USD
Previous price: 4500.0EUR
Converted Price: 4801.50 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 361.0€
Converted Price: 385.19 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 18000.0€
Converted Price: 19206.00 USD
Previous price: 839000.0EUR
Converted Price: 895213.00 USD
Previous price: 32000.0€
Converted Price: 34144.00 USD
Previous price: 16450.0£
Converted Price: 20139.01 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 21350.0£
Converted Price: 26137.86 USD
Previous price: 12840.0€
Converted Price: 13700.28 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 16100.0£
Converted Price: 19710.52 USD
Previous price: 18410.0£
Converted Price: 22538.55 USD
Previous price: 20500.0£
Converted Price: 25097.24 USD
Previous price: 38500.0£
Converted Price: 47133.84 USD
Previous price: 14900.0£
Converted Price: 18241.41 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 20500.0€
Converted Price: 21873.50 USD
Previous price: 15950.0£
Converted Price: 19526.88 USD
Previous price: 15950.0£
Converted Price: 19526.88 USD
Previous price: 15950.0£
Converted Price: 19526.88 USD
Previous price: 44760.0$
Converted Price: 44760.00 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 5000.0EUR
Converted Price: 5335.00 USD
Previous price: 39250.0£
Converted Price: 48052.03 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 8400.0£
Converted Price: 10283.75 USD
Previous price: 37368.0£
Converted Price: 45747.98 USD
Previous price: 81000.0£
Converted Price: 99164.71 USD
Previous price: 14750.0£
Converted Price: 18057.77 USD
Previous price: 14500.0£
Converted Price: 17751.71 USD
Previous price: 11836.0£
Converted Price: 14490.29 USD
Previous price: 11100.0€
Converted Price: 11843.70 USD
Previous price: 89500.0$
Converted Price: 89500.00 USD
Previous price: 38700.0$
Converted Price: 38700.00 USD
Previous price: 10605.0£
Converted Price: 12983.23 USD
Previous price: 242000.0$
Converted Price: 242000.00 USD
Previous price: 184800.0$
Converted Price: 184800.00 USD
Previous price: 179300.0$
Converted Price: 179300.00 USD
Previous price: 14600.0£
Converted Price: 17874.13 USD
Previous price: 4100.0euro
Converted Price: 4374.70 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 14760.0£
Converted Price: 18070.01 USD
Previous price: 12000.0£
Converted Price: 14691.07 USD
Previous price: 15100.0£
Converted Price: 18486.26 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 972.0£
Converted Price: 1189.98 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 5100.0£
Converted Price: 6243.70 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 1025.0€
Converted Price: 1093.67 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 1402.0$
Converted Price: 1402.00 USD
Previous price: 22350.0£
Converted Price: 27362.11 USD
Previous price: 12309.0$
Converted Price: 12309.00 USD
Previous price: 4600.0€
Converted Price: 4908.20 USD
Previous price: 4600.0€
Converted Price: 4908.20 USD
Previous price: 5100.0euro
Converted Price: 5441.70 USD
Previous price: 14750.0£
Converted Price: 18057.77 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 972.0£
Converted Price: 1189.98 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 29000.0£
Converted Price: 35503.41 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 229000.0SEK
Converted Price: 21045.91 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 4500.0EUR
Converted Price: 4801.50 USD
Previous price: 17000.0£
Converted Price: 20812.35 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 280600.0SEK
Converted Price: 25788.13 USD
Previous price: 6000.0EUR
Converted Price: 6402.00 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 4650.0£
Converted Price: 5692.79 USD
Previous price: 72672.0euro
Converted Price: 77541.02 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 44760.0$
Converted Price: 44760.00 USD
Previous price: 19500.0$
Converted Price: 19500.00 USD
Previous price: 17200.0£
Converted Price: 21057.20 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 15700.0£
Converted Price: 19220.81 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 722.0£
Converted Price: 883.91 USD
Previous price: 16450.0£
Converted Price: 20139.01 USD
Previous price: 290000.0SEK
Converted Price: 26652.02 USD
Previous price: 11410.0£
Converted Price: 13968.76 USD
Previous price: 17200.0£
Converted Price: 21057.20 USD
Previous price: 18500.0€
Converted Price: 19739.50 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 14105.0£
Converted Price: 17268.13 USD
Previous price: 14100.0£
Converted Price: 17262.00 USD
Previous price: 16100.0£
Converted Price: 19710.52 USD
Previous price: 35000.0£
Converted Price: 42848.95 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 21200.0£
Converted Price: 25954.22 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 11410.0£
Converted Price: 13968.76 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 11410.0£
Converted Price: 13968.76 USD
Previous price: 31000.0£
Converted Price: 37951.92 USD
Previous price: 18000.0€
Converted Price: 19206.00 USD
Previous price: 29950.0£
Converted Price: 36666.46 USD
Previous price: 31500.0£
Converted Price: 38564.05 USD
Previous price: 33500.0£
Converted Price: 41012.56 USD
Previous price: 24500.0£
Converted Price: 29994.26 USD
Previous price: 31500.0£
Converted Price: 38564.05 USD
Previous price: 29500.0£
Converted Price: 36115.54 USD
Previous price: 29500.0£
Converted Price: 36115.54 USD
Previous price: 16450.0£
Converted Price: 20139.01 USD
Previous price: 30250.0£
Converted Price: 37033.73 USD
Previous price: 22350.0£
Converted Price: 27362.11 USD
Previous price: 14500.0€
Converted Price: 15471.50 USD
Previous price: 6250.0€
Converted Price: 6668.75 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 300.0euro
Converted Price: 320.10 USD
Previous price: 8700.0£
Converted Price: 10651.02 USD
Previous price: 10000.0£
Converted Price: 12242.56 USD
Previous price: 14500.0£
Converted Price: 17751.71 USD
Previous price: 11330.0£
Converted Price: 13870.82 USD
Previous price: 11330.0£
Converted Price: 13870.82 USD
Previous price: 10500.0£
Converted Price: 12854.68 USD
Previous price: 14500.0£
Converted Price: 17751.71 USD
Previous price: 16100.0£
Converted Price: 19710.52 USD
Previous price: 16100.0£
Converted Price: 19710.52 USD
Previous price: 14500.0£
Converted Price: 17751.71 USD
Previous price: 26500.0£
Converted Price: 32442.77 USD
Previous price: 44760.0$
Converted Price: 44760.00 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 14500.0£
Converted Price: 17751.71 USD
Previous price: 16800.0£
Converted Price: 20567.49 USD
Previous price: 19500.0£
Converted Price: 23872.98 USD
Previous price: 18490.0€
Converted Price: 19728.83 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 10310.0£
Converted Price: 12622.08 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 9750.0£
Converted Price: 11936.49 USD
Previous price: 8250.0£
Converted Price: 10100.11 USD
Previous price: 16065.0£
Converted Price: 19667.67 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 15700.0£
Converted Price: 19220.81 USD
Previous price: 19500.0$
Converted Price: 19500.00 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 16450.0£
Converted Price: 20139.01 USD
Previous price: 16800.0£
Converted Price: 20567.49 USD
Previous price: 280600.0SEK
Converted Price: 25788.13 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 150000.0SEK
Converted Price: 13785.53 USD
Previous price: 19500.0£
Converted Price: 23872.98 USD
Previous price: 9000.0€
Converted Price: 9603.00 USD
Previous price: 1130.0£
Converted Price: 1383.41 USD
Previous price: 17200.0£
Converted Price: 21057.20 USD
Previous price: 11810.0£
Converted Price: 14458.46 USD
Previous price: 11836.0£
Converted Price: 14490.29 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 2700.0euro
Converted Price: 2880.90 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 18500.0€
Converted Price: 19739.50 USD
Previous price: 9000.0£
Converted Price: 11018.30 USD
Previous price: 15000.0€
Converted Price: 16005.00 USD
Previous price: 14750.0£
Converted Price: 18057.77 USD
Previous price: 5100.0euro
Converted Price: 5441.70 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 250.0EUR
Converted Price: 266.75 USD
Previous price: 26950.0£
Converted Price: 32993.69 USD
Previous price: 31750.0£
Converted Price: 38870.12 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 15000.0£
Converted Price: 18363.83 USD
Previous price: 16500.0£
Converted Price: 20200.22 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 13995.0£
Converted Price: 17133.46 USD
Previous price: 26350.0£
Converted Price: 32259.14 USD
Previous price: 21400.0£
Converted Price: 26199.07 USD
Previous price: 280600.0SEK
Converted Price: 25788.13 USD
Previous price: 18000.0£
Converted Price: 22036.60 USD
Previous price: 16100.0€
Converted Price: 17178.70 USD
Previous price: 32100.0£
Converted Price: 39298.61 USD
Previous price: 32100.0£
Converted Price: 39298.61 USD
Previous price: 22000.0£
Converted Price: 26933.62 USD
Previous price: 8276.0€
Converted Price: 8830.49 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 12428.0£
Converted Price: 15215.05 USD
Previous price: 10500.0£
Converted Price: 12854.68 USD
Previous price: 16065.0£
Converted Price: 19667.67 USD
Previous price: 15450.0£
Converted Price: 18914.75 USD
Previous price: 15700.0£
Converted Price: 19220.81 USD
Previous price: 19500.0$

,url,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,preprocessed_description,fees(USD)
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,\n \n\n\n\n Please see th...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,"[3d, visualis, anim, play, role, mani, area, p...",NaN
1,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,Full time,"Our Accounting, Accountability & Financial Man...",September,\n \n\n\n\n Please see th...,MSc,1 year FT,London,United Kingdom,On Campus,"[our, account, account, financi, manag, msc, c...",NaN
2,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound finan...,September,"\n \n\n\n UK: £18,000 (Tot...",MSc,1 year full time,Leeds,United Kingdom,On Campus,"[busi, govern, reli, sound, financi, knowledg,...",42542.88
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wit...,September,\n \n\n\n\n Please see th...,MSc,1 year full time,Reading,United Kingdom,On Campus,"[embark, profession, account, career, academ, ...",NaN
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",Full time,Join us for an online session for prospective ...,September,\n \n\n\n\n Please see th...,MSc,One year FT,London,United Kingdom,On Campus,"[join, us, onlin, session, prospect, student, ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,https://www.findamasters.com/masters-degrees/c...,Bioinformatics MSc,University of Liverpool,Department of Life Sciences,Full time,Life sciences and technology are an integral p...,September,\n \n\n\n UK fees (applies...,MSc,"1 year full time, 2 years part time",Liverpool,United Kingdom,On Campus,"[life, scienc, technolog, integr, part, global...",30300.33
5996,https://www.findamasters.com/masters-degrees/c...,BioInnovation - MSc,Aberystwyth University,"Biological, Environmental & Rural Sciences (IB...",Part time,MSc BioInnovation at Aberystwyth University pr...,"September, January",\n \n\n\n\n Please see th...,MSc,5 years part time,Aberystwyth,United Kingdom,On Campus,"[msc, bioinnov, aberystwyth, univers, provid, ...",NaN
5997,https://www.findamasters.com/masters-degrees/c...,Biological Photography and Imaging MSc,University of Nottingham,School of Life Sciences,Full time,Have you ever wanted to work on nature documen...,September,\n \n\n\n\n Please see th...,MSc,Full time - 12 months,Nottingham,United Kingdom,On Campus,"[have, ever, want, work, natur, documentari, a...",NaN
5998,https://www.findamasters.com/masters-degrees/c...,"Biological Sciences (M.A., M.S.)",St. Cloud State University,Postgraduate Programs,Full time,You will gain in-depth knowledge and skills in...,See Course,"\n \n\n\n $7,385* per year...",MSc,2 years,St Cloud,USA,On Campus,"[you, gain, knowledg, skill, chosen, disciplin...",44760.00
5999,https://www.findamasters.com/masters-degrees/c...,Biological Sciences (MSc by Research),University of Huddersfield,School of Applied Sciences,Full time,The maximum duration for an MSc by Research is...,"October, January",\n \n\n\n UK fees:\n ...,MSc,"1 year full-time, 2 years part-time",Huddersfield,United Kingdom,On Campus,"[the, maximum, durat, msc, research, 1, year, ...",NaN

### 2.1. Conjunctive query

#### 2.1.1) Create your index!

In [3]:
#step 1:
#Create a file named vocabulary, in the format you prefer, that maps each word to an integer (term_id).
#dataset = pd.read_json("html_pages.json", lines=True)
vocabulary = set()

dataset["preprocessed_description"] = dataset.preprocessed_description.apply(lambda row: word_tokenize(row) )

dataset.preprocessed_description.apply(lambda row: [vocabulary.add(word) for word in row])

0       [None, None, None, None, None, None, None, Non...
1       [None, None, None, None, None, None, None, Non...
2       [None, None, None, None, None, None, None, Non...
3       [None, None, None, None, None, None, None, Non...
4       [None, None, None, None, None, None, None, Non...
                              ...
5995    [None, None, None, None, None, None, None, Non...
5996    [None, None, None, None, None, None, None, Non...
5997    [None, None, None, None, None, None, None, Non...
5998    [None, None, None, None, None, None, None, Non...
5999    [None, None, None, None, None, None, None, Non...
Name: preprocessed_description, Length: 5979, dtype: object

In [4]:
vocabulary_alt = Counter(reduce(lambda x, y: x + y, dataset.description.values)).keys()

index = {}
unique_id = 1
for word in list(vocabulary_alt):
  index[unique_id] = word
  unique_id += 1

# Create a DataFrame from the vocabulary
vocabulary_df_alt = pd.DataFrame(list(index.items()), columns=['term_id', 'word'])

# Save the vocabulary DataFrame to a CSV file
vocabulary_df_alt.to_csv('vocabulary_alt.csv', index=False)


terms = pd.DataFrame(data=list(vocabulary_alt), columns=['term'])

#### 2.1.2) Execute the query

In [5]:
#personalized_query = str(input())

personalized_query = "advanced knowledge"

# Split the personalized query into individual words
query_words = personalized_query.split()

# Your modified code to get the indices of documents containing all words in the personalized query
selected_indices = list(dataset.loc[dataset.description.apply(lambda row: all(word in row for word in query_words))].index)

# Extract information for each selected document
selected_documents = dataset.loc[selected_indices, ['courseName', 'universityName', 'description', 'url']]

# Print the information for each selected document
print(selected_documents)

                                     courseName              universityName  \
2                  Accounting and Finance - MSc         University of Leeds
12                    Analytical Toxicology MSc       King’s College London
28            Healthcare Technologies MSc, MRes       King’s College London
36      Biomaterials and Tissue Engineering MSc   University College London
37        Biomedical and Analytical Science MSc  University of Huddersfield
...                                         ...                         ...
5879                Automotive Technology (MSc)          University of Bath
5910                    Banking and Finance MSc    Brunel University London
5924  Banking Innovation and Risk Analytics MSc     University of Edinburgh
5951                  Big Data Technologies MSc   University of East London
5977                       Bioinformatics - MSc      University of Bradford

                                            description  \
2     Businesses and governments rely on sound finan...
12    The Analytical Toxicology MSc is a unique stud...
28    The Healthcare Technologies MSc/MRes will trai...
36    Register your interest in graduate study at UC...
37    The Biomedical and Analytical Science MSc cour...
...                                                 ...
5879  Study a master’s that focuses on giving you th...
5910  Ask Brunel\n               \n\n\n\n           ...
5924  Programme description\n              \n\n\n   ...
5951  This programme is ideal if you want to pursue ...
5977  Bioinformatics combines knowledge from a varie...

                                                    url
2     https://www.findamasters.com/masters-degrees/c...
12    https://www.findamasters.com/masters-degrees/c...
28    https://www.findamasters.com/masters-degrees/c...
36    https://www.findamasters.com/masters-degrees/c...
37    https://www.findamasters.com/masters-degrees/c...
...                                                 ...
5879  https://www.findamasters.com/masters-degrees/c...
5910  https://www.findamasters.com/masters-degrees/c...
5924  https://www.findamasters.com/masters-degrees/c...
5951  https://www.findamasters.com/masters-degrees/c...
5977  https://www.findamasters.com/masters-degrees/c...

[347 rows x 4 columns]

### 2.2) Conjunctive query & Ranking score

#### 2.2.1) Inverted index

In [38]:
### THE IDEA --> 
#max_df is set to 0.5, indicating that terms with a document frequency higher than 50% will be ignored
#min_df is set to 2, indicating that terms with a document frequency lower than 2 will be ignored

tfidf = TfidfVectorizer(input = "content", lowercase= False, tokenizer = lambda text: text, max_df=0.4, min_df = 2)

results = tfidf.fit_transform(dataset.preprocessed_description)
result_dense = results.todense()

tfidf_data = pd.DataFrame(result_dense.tolist(), index=dataset.index, columns=tfidf.get_feature_names_out())
cosine_sim = cosine_similarity(tfidf_data)

c:\Users\stefa\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Assuming your dataset is stored in a variable called "dataset"
# Make sure to replace this with your actual dataset loading code
# dataset = pd.read_csv("your_dataset.csv")

# Use the default tokenizer provided by TfidfVectorizer
tfidf = TfidfVectorizer(max_df=0.4, min_df=2)
results = tfidf.fit_transform(dataset.preprocessed_description)
result_dense = results.todense()

tfidf_data = pd.DataFrame(result_dense.tolist(), index=dataset.index, columns=tfidf.get_feature_names_out())
cosine_sim = cosine_similarity(tfidf_data)

In [40]:
def search_engine(query, k=5):
    # Tokenize and preprocess the query
    query_tfidf = tfidf.transform([query])

    # Compute cosine similarity between the query and all documents
    query_similarity = cosine_similarity(query_tfidf, tfidf_data)

    # Create a heap to maintain the top-k documents
    heap = []

    # Iterate through the documents and update the heap
    for i, sim_score in enumerate(query_similarity[0].argsort()[::-1]):
        heapq.heappush(heap, (query_similarity[0][sim_score], i))

    # Retrieve the top-k documents from the heap
    top_k_documents = []
    while heap and len(top_k_documents) < k:
        sim_score, index = heapq.heappop(heap)
        if sim_score > 0:
            document_info = {
                'courseName': dataset.loc[index, 'courseName'],
                'universityName': dataset.loc[index, 'universityName'],
                'description': dataset.loc[index, 'description'],
                'url': dataset.loc[index, 'url'],
                'Similarity Score': sim_score
            }
            top_k_documents.append(document_info)


    top_k_documents = sorted(top_k_documents, key=lambda x: x['Similarity Score'], reverse=True)

    result_df = pd.DataFrame(top_k_documents)

    return result_df

##### 2.2.2) Execute the query

In [41]:
### THE IDEA --> The top_k_results DataFrame will contain information about the top-k documents that are most similar to the query, 
#with the most similar document listed first.

#USING IT BY CHANGING THE CODE
query = "knowledge"
top_k_results = search_engine(query, k=5)


#USING IT BY DOING AN INPUT.
#personalized_query = str(input())
#top_k_results = search_engine(personalized_query, k=5)

print(top_k_results)

Empty DataFrame
Columns: []
Index: []

## 3

Now it's your turn: build a new metric to rank MSc degrees.

Practically:

The user will enter a text query. As a starting point, get the query-related documents by exploiting the search engine of Step 2.1.
Once you have the documents, you need to sort them according to your new score. In this step, you won't have any more to take into account just the description field of the documents; you can use also the remaining variables in your dataset (or new possible variables that you can create from the existing ones or scrape again from the original web-pages). You must use a heap data structure (you can use Python libraries) for maintaining the top-k documents.
N.B.: You have to define a scoring function, not a filter!

The output, must contain:

- courseName
- universityName
- description
- URL
- The new similarity score of the documents with respect to the query

Are the results you obtain better than with the previous scoring function? Explain and compare results.

In [28]:
### THE IDEA --> given a text query, I exploit the previous search engine. I compute the cosine similarity score and 
#then I adjust it taking into consideration also the other variable of the dataset as it follows:
# -if it has a fee(so different than nan), give it credit 
# if "administration" is not empty, give it credit
# if it is full time, give it credit
#after doing it, I took the top documents. then I compare the results

In [62]:
def search_engine(query, k=5):
    # Tokenize and preprocess the query
    query_tfidf = tfidf.transform([query])

    # Compute cosine similarity between the query and all documents
    query_similarity = cosine_similarity(query_tfidf, tfidf_data)

    # Create a heap to maintain the top-k documents
    heap = []

    # Iterate through the documents and update the heap
    for i, sim_score in enumerate(query_similarity[0]):
        heapq.heappush(heap, (sim_score, i))

    # Retrieve the top-k documents from the heap
    top_k_documents = []
    while heap and len(top_k_documents) < k:
        sim_score, index = heapq.heappop(heap)

        # Additional conditions to adjust the similarity score
        if dataset.loc[index, 'fees(USD)'] != 0:
            sim_score += 0.2  # Give credit for having a fee
        if dataset.loc[index, 'administration'] != '':
            sim_score += 0.2  # Give credit for non-empty administration field
        if dataset.loc[index, 'isItFullTime'] == 'Full time':
            sim_score += 0.2  # Give credit for being full time

        if sim_score > 0:
            document_info = {
                'courseName': dataset.loc[index, 'courseName'],
                'universityName': dataset.loc[index, 'universityName'],
                'description': dataset.loc[index, 'description'],
                'url': dataset.loc[index, 'url'],
                'Similarity Score': sim_score
            }
            top_k_documents.append(document_info)

    # Sort the top-k documents based on adjusted similarity score
    top_k_documents = sorted(top_k_documents, key=lambda x: x['Similarity Score'], reverse=True)

    result_df = pd.DataFrame(top_k_documents)

    return result_df

In [63]:
#USING IT BY DOING AN INPUT.
personalized_query = str(input())
top_k_results = search_engine(personalized_query, k=5)

print(top_k_results)

                                          courseName         universityName  \
0  Accounting, Accountability & Financial Managem...  King’s College London
1                       Accounting and Finance - MSc    University of Leeds
2  Accounting, Financial Management and Digital B...  University of Reading
3                                     Addictions MSc  King’s College London
4                Advanced Chemical Engineering - MSc    University of Leeds

                                         description  \
0  Our Accounting, Accountability & Financial Man...
1  Businesses and governments rely on sound finan...
2  Embark on a professional accounting career wit...
3  Join us for an online session for prospective ...
4  The Advanced Chemical Engineering MSc at Leeds...

                                                 url  Similarity Score
0  https://www.findamasters.com/masters-degrees/c...               0.6
1  https://www.findamasters.com/masters-degrees/c...               0.6
2  https://www.findamasters.com/masters-degrees/c...               0.6
3  https://www.findamasters.com/masters-degrees/c...               0.6
4  https://www.findamasters.com/masters-degrees/c...               0.6